@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  background: #15202b;
  color: white;
  font-family: "Roboto", sans-serif;
 
}

.tweet-form {
  width: 100%;
  height: 180px;
  border: 2px solid #cccccc;
  box-sizing: border-box;
  border-radius: 6px;
}

.tweet-input {
  width: 100%;
  min-width: 250px;
  padding: 15px 10px 10px 20px;
  font-size: 15px;
  color: #cccccc;
  background: #15202b;
  /* background-color: #1d222b; */
  border-radius: 10px;
  border: none;
  outline: none; 
  resize: none;
}

.button { 
  width: 68px;
  height: 34px;

  right: 20px;
  bottom: 20px;

  background: #007bff;
  border-radius: 4px;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  border: none;
  padding: 5px; 
}

.button:focus {
  outline: none;
}

.alert-box {
  position: absolute;
  left: 30px;
  top: 130px;
  width: 338px;
  height: 29px;
  padding: 1px;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  display: flex;
}

.list-style {
  list-style: none;
  padding-left: 0;
}

.tweet-box {
  position: relative;
  width: 100%;
  height: 100px;
  background: #343a40;
  border-radius: 6px;
  color: white;
  padding: 10px;
  margin-top: 20px;  
}

.date-position {
  position: absolute;
  width: 180px;
  height: 16px;
  right: 10px;
  top: 20px;

  display: flex;
  align-items: center;
  text-align: right;
}

.name-position {
  position: absolute;
  width: 162px;
  height: 12px;
  left: 20px;
  top: 20px;

  display: flex;
  align-items: center;
}

.font-16-14 {
  font-size: 14px;
  line-height: 16px;  
}

.color-grey {
  color: #6c757d;
}

.tweet-text {
  position: absolute;
  width: 455px;
  height: 32px;
  left: 20px;
  top: 48px;
  color: #ffffff;
}

.navbar {  
  width: 1076px;
  height: 58px;
  left: 65px;
  text-align: center;
  top: 0px;
  background: #343A40;
  border-radius: 6px;  
}

a:link {
  text-decoration: none;
  color: #FFFFFF !important;; 
}


.home-menu {
  position: absolute;
  width: 38px;
  height: 16px;
  left: 36px;
  top: 19px;
  color: #FFFFFF !important;
}

.profile-menu {
  position: absolute; 
  width: 41px;
  height: 16px;
  left: 119px;
  top: 19px;
  color: rgba(255, 255, 255, 0.5);
}


.loader {
  color: white;
  justify-content: center;
}